body {
    height: 100%;
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1100px;
    margin: auto;
}

._ibg {
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.block-body {
    min-height: 100%;
    overflow: hidden;

}
.block-main {
    margin: auto;
    min-height: 100%;
    overflow: hidden;
    flex:1 1 auto;
    background: #131313;

}

.block-complected-home {
    font-family: 'Yeseva One', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0;
    text-align: left;
    color: white;
    height: 105px;
    width: 590px;
    left: 135px;
    top: 277px;
    border-radius: 0;
}

.sub-block-complected-home {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    text-align: left;
    color: white;
    height: 110px;
    width: 504px;
    left: 135px;
    top: 401px;
    border-radius: 0;
    margin-bottom: 0;
}

.submit-one {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: white;
    height: 51px;
    width: 207px;
    left: 135px;
    top: 531px;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0 4px 12px rgba(227, 184, 115, 0.3);
    border: transparent;
    margin-right: 10px;
}

.submit-one:hover {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: cornsilk;
    height: 51px;
    width: 207px;
    left: 135px;
    top: 531px;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
    border: transparent;
    margin-right: 10px;
}

.submit-two {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: white;
    height: 51px;
    width: 207px;
    left: 135px;
    top: 531px;
    border: 1px solid white;
    background: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 15px;

}

.blockSt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 10px;

}

.hidden {
    display: none;
}

.submit-two-reverse {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: white;
    height: 65px;
    width: 400px;
    left: 18px;
    top: 421px;
    border: 1px solid white;
    background: transparent;
    border-radius: 2px;
    margin-left: 0;
    display: none;
}

.submit-two-reverse:hover {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: aliceblue;
    height: 65px;
    width: 400px;
    left: 18px;
    top: 421px;
    border: 1px solid white;
    background: transparent;
    border-radius: 2px;
    margin-left: 0;
    display: none;
}

.submit-two:hover {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: aliceblue;
    height: 51px;
    width: 207px;
    left: 135px;
    top: 531px;
    border: 1px solid white;
    background: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 15px;
}

.img-home {
    position: absolute;
    height: 707px;
    width: 1440px;
    left: 0;
    top: 0;
    border-radius: 0;
    opacity: 0.3;
}

.block-home {
    position: relative;
    background-size: cover;
    background-image: url(./img/image-home.jpg);
}

.sub-block-home {
    position: absolute;
    background-size: cover;
    background: #131313;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}


.block-home-text {
    padding: 163px 0 208px 0;
    position: relative;
    z-index: 2;
}



@media screen and (max-width: 600px) {

    ._container {
        max-width: 400px;
        margin: auto;
    }

    .block-complected-home {
        font-family: 'Yeseva One', sans-serif;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 40px;
        text-align: left;
        height: 60px;
        width: 400px;
        left: 18px;
        top: 142px;
        border-radius: 0;
    }

    .sub-block-complected-home {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0;
        text-align: left;
        margin-top: 40px;
        color: white;
        height: 130px;
        width: 400px;
        left: 18px;
        top: 218px;
        border-radius: 0;
    }

    .submit-one {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0;
        text-align: center;
        color: white;
        height: 65px;
        width: 400px;
        left: 18px;
        top: 344px;
        border-radius: 2px;
        background: #E3B873;
        box-shadow: 0 4px 12px rgba(227, 184, 115, 0.3);
        border: transparent;
        margin-bottom: 30px;
    }

    .submit-one:hover {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0;
        text-align: center;
        color: cornsilk;
        height: 65px;
        width: 400px;
        left: 18px;
        top: 344px;
        border-radius: 2px;
        background: #E3B873;
        box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
        border: transparent;
        display: block;
    }

    .submit-two {
        display: none;
    }

    .submit-two:hover {
        display: none;
    }

    .submit-two-reverse {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0;
        text-align: center;
        color: white;
        height: 65px;
        width: 400px;
        left: 18px;
        top: 421px;
        border: 1px solid white;
        background: transparent;
        border-radius: 2px;
        margin-left: 0;
        display: block;
    }

    .submit-two-reverse:hover {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0;
        text-align: center;
        color: aliceblue;
        height: 65px;
        width: 400px;
        left: 18px;
        top: 421px;
        border: 1px solid white;
        background: transparent;
        border-radius: 2px;
        margin-left: 0;
        display: block;
    }

    .block-home {

    }

    .number {
        display: block;
        color: white;
    }

    .name {
        display: block;
    }

    .md\:white {
    }
}
